-- MySQL dump 10.13  Distrib 5.5.35, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: datastore
-- ------------------------------------------------------
-- Server version	5.5.35-0ubuntu0.12.04.2

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `datastore`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `datastore` /*!40100 DEFAULT CHARACTER SET utf8 COLLATE utf8_bin */;

USE `datastore`;

--
-- Table structure for table `auth`
--

DROP TABLE IF EXISTS `auth`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth` (
  `username` varchar(40) COLLATE utf8_bin NOT NULL,
  `namespace` varchar(40) COLLATE utf8_bin NOT NULL,
  `varname` varchar(40) COLLATE utf8_bin NOT NULL,
  `authvar` int(1) NOT NULL,
  `authfile` int(1) NOT NULL,
  PRIMARY KEY (`username`,`namespace`,`varname`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth`
--

LOCK TABLES `auth` WRITE;
/*!40000 ALTER TABLE `auth` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `filepaths`
--

DROP TABLE IF EXISTS `filepaths`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `filepaths` (
  `namespace` varchar(40) COLLATE utf8_bin NOT NULL,
  `filepath` varchar(250) COLLATE utf8_bin NOT NULL,
  PRIMARY KEY (`namespace`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `filepaths`
--

LOCK TABLES `filepaths` WRITE;
/*!40000 ALTER TABLE `filepaths` DISABLE KEYS */;
/*!40000 ALTER TABLE `filepaths` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `varvalues`
--

DROP TABLE IF EXISTS `varvalues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `varvalues` (
  `namespace` varchar(40) COLLATE utf8_bin NOT NULL,
  `varname` varchar(40) COLLATE utf8_bin NOT NULL,
  `vartype` varchar(1) COLLATE utf8_bin NOT NULL,
  `varvalue` varchar(250) COLLATE utf8_bin NOT NULL,
  PRIMARY KEY (`namespace`,`varname`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `varvalues`
--

LOCK TABLES `varvalues` WRITE;
/*!40000 ALTER TABLE `varvalues` DISABLE KEYS */;
/*!40000 ALTER TABLE `varvalues` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2014-07-06 19:49:51
